body {
  min-width: 525px;
}
header {
  position: fixed;
  width: 100%;
z-index: 2;
top: 0;
  background-color: rgb(129, 132, 136);
  height: 4em;
}
.navigation {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 2em;
  margin-left: 2em;
}
.nav-left {
  float: left;
  font-size: 1.5em;
}
.navigation a {
  color: white;
}
.nav-right {
  float: right;
  font-size: 1em;
  /*text-decoration: underline;*/
}
.slick-slide {
  margin-left: 1em;
  margin-right: 1em;
}
.movie-wrapper {
  display: table;
}
.movie-picture img {
  width: 214px;
  height: 317px;
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url('../images/placeholder.jpg');
}
.movie-picture, .movie-title {
  margin: 6px;
}
.movie-picture + .movie-title {
  width: 214px;
  display: table-caption;
  caption-side: bottom;
  overflow: hidden !important;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.slick-current .movie-picture {
  border-color: rgb(24, 152, 236);
  border-style: solid;
  border-width: 4px;
  margin: 2px;
}
.wrapper {
  margin-left: 2em;
  margin-right: 2em;
  margin-top: 4.5em;
}

/* Responsiveness for small screens */

@media screen and (max-width: 550px) {
  /*Reduce picture size by factor two*/
  /*.movie-picture img {
    width: 107px;
    height: 158px;
  }*/
  .mobile-movie {
    float: left;
  }
}
