<!-- Desktop version -->
<slick ng-if="movies && !mobile" settings="slickConfig" id="slick">
  <div ng-repeat="movie in movies">
    <div class="movie-wrapper">
      <div class="movie-picture" ng-click="playMovie(movie)">
        <img ng-src="{{movie.images[0].url}}">
      </div>
      <span class="movie-title">
        {{movie.title}}
      </span>
    </div>
  </div>
</slick>

<!-- Movile version -->
<span ng-if="mobile" class="mobile-movie" ng-repeat="movie in movies">
  <div class="movie-wrapper">
    <div class="movie-picture" ng-click="playMovie(movie)">
      <img ng-src="{{movie.images[0].url}}">
    </div>
    <span class="movie-title">
      {{movie.title}}
    </span>
  </div>
</span>
