<!-- Desktop version -->
<slick ng-if="movieList.movies && !movieList.mobile" settings="movieList.slickConfig" id="slick">
  <div ng-repeat="movie in movieList.movies">
    <div class="movie-wrapper">
      <div class="movie-picture" ng-click="movieList.playMovie(movie)">
        <img ng-src="{{movie.images[0].url}}">
      </div>
      <span class="movie-title">
        {{movie.title}}
      </span>
    </div>
  </div>
</slick>

<!-- Movile version -->
<div ng-if="movieList.mobile" class="mobile-movie-wrapper">
  <span class="mobile-movie" ng-repeat="movie in movieList.movies">
    <div class="movie-wrapper">
      <div class="movie-picture" ng-click="movieList.playMovie(movie)">
        <img ng-src="{{movie.images[0].url}}">
      </div>
      <span class="movie-title">
        {{movie.title}}
      </span>
    </div>
  </span>
</div>
